<% if object.errors.any? %>
  <section>
    <h1>Something Went Wrong</h1>
    <ul>
      <% object.errors.messages.each do |attribute, messages| %>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
