<main>
  <section>
    <h1>Today's Events</h1>
    <ul id="todays-events">
      <% @events.each do |event| %>
        <li>
          <article>
            <%= event.name %>
          </article>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <%= erb :"events/_form", locals: { event: @event } %>
  </section>

</main>
